@page "/plane/{Registration}"
@inject blazortest.Data.AircraftIE AircraftService;

<EditForm Model="plane">
    <div class="form-group">
        <label>Registration</label>
        <InputText id="Registration" class="form-control" name="Registration" @bind-value="@plane.Registration" />
    </div>
    <div class="form-group">
        <label>Manufacturer</label>
        <InputText id="Manufacturer" class="form-control" name="Manufacturer" @bind-Value="@plane.Manufacturer"/>
    </div>
    <div class="form-group">
        <label>Passenger</label>
        <InputNumber id="Passenger" class="form-control" name="Passenger" @bind-Value="@plane.Passenger"/>
    </div>
    <div class="form-group">
        <label>Aircrafttype</label>
        <CustomSelect id="AircraftType" class="form-control" name="Aircraft Type" @bind="@plane.AircraftType"/>
    </div>
</EditForm>

<h3>Edit Plane</h3>
<h4>@Registration</h4> 
@code {

    [Parameter]
    public string Registration { get; set; }

    private Data.Aircraft plane { get; set; }

    protected override void OnInitialized()
    {
        plane = AircraftService.GetPlane(Registration);
    }

}